[submodule "JSONKit"]
	path = JSONKit
	url = https://github.com/johnezang/JSONKit.git
[submodule "asi-http-request"]
	path = asi-http-request
	url = https://github.com/pokeb/asi-http-request.git
[submodule "UIExpandableTableView"]
	path = UIExpandableTableView
	url = git@github.com:docmorelli/UIExpandableTableView.git
[submodule "DDProgressView"]
	path = DDProgressView
	url = https://github.com/ddeville/DDProgressView.git
[submodule "PDColoredProgressview"]
	path = PDColoredProgressview
	url = https://github.com/PascalW/PDColoredProgressview.git
[submodule "appirater"]
	path = appirater
	url = https://github.com/arashpayan/appirater.git
[submodule "MTStatusBarOverlay"]
	path = MTStatusBarOverlay
	url = https://github.com/myell0w/MTStatusBarOverlay.git
