[submodule "JSONKit"]
	path = Submodules/JSONKit
	url = https://github.com/johnezang/JSONKit.git
[submodule "asi-http-request"]
	path = asi-http-request
	url = https://github.com/pokeb/asi-http-request.git
[submodule "DDProgressView"]
	path = DDProgressView
	url = https://github.com/ddeville/DDProgressView.git
[submodule "uicolor-utilities"]
	path = uicolor-utilities
	url = https://github.com/ars/uicolor-utilities.git
[submodule "NSAttributedString-Additions-for-HTML"]
	path = Submodules/NSAttributedString-Additions-for-HTML
	url = https://github.com/Cocoanetics/NSAttributedString-Additions-for-HTML.git
[submodule "UIExpandableTableView"]
	path = UIExpandableTableView
	url = git@github.com:OliverLetterer/UIExpandableTableView.git
[submodule "GHPullToReleaseTableViewController"]
	path = GHPullToReleaseTableViewController
	url = git@github.com:OliverLetterer/GHPullToReleaseTableViewController.git
[submodule "GHTableViewAlertView"]
	path = GHTableViewAlertView
	url = git@github.com:OliverLetterer/GHTableViewAlertView.git
